html,
body,
p,
h1 {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHBxN3FkbWk2Zm5ldzMxa3Zld2R6YXgybWJ5a2J3cW15ZjYyenZ3YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SUcnmocyRKkfSil9xd/giphy.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  background-color: #0560fd;
  padding: 12px;
}

.header h1 {
  color: white;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 2.4rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 15px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #adb5bd;
}

.quadrado {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.719);
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
}

.container-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 11px;
  box-sizing: border-box;
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 1px solid #1d1c1d4d;
  font-weight: 700;
  background: #fff;
  padding: 0 12px 1px;
  font-size: 15px;
  border-radius: 4px;
  color: rgb(29, 28, 29);
  height: 36px;
  transition: all 80ms linear;
}

button:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
  background: rgba(248, 248, 248, 1);
}
